<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javatiaocao.myblog.mapper.ArticleMapper">
    <select id="selectTagByTagName" resultType="Tags">
        select * from tags where tagName = #{tagName}
    </select>

    <insert id="insertTags">
        insert into tags(tagName, tagSize) values (#{tagName}, #{tagSize})
    </insert>

    <insert id="insertArticle" parameterType="Article">
        insert into article(articleId, author, originalAuthor, articleTitle, articleContent, articleTags, articleType, articleCategories
        , publishDate, updateDate, articleUrl, articleTabloid) values (#{articleId}, #{author}, #{originalAuthor}, #{articleTitle},
        #{articleContent}, #{articleTags}, #{articleType}, #{articleCategories}, #{publishDate}, #{updateDate},
        #{articleUrl}, #{articleTabloid})
    </insert>

    <select id="selectAllArticles" resultType="Article">
        select * from article order by id desc
    </select>

    <delete id="deleteArticleById">
        delete from article where id = #{id}
    </delete>

    <select id="selectArticleById" resultType="Article">
        select * from article where id = #{id}
    </select>
</mapper>