<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javatiaocao.myblog.mapper.CategoriesMapper">
    <select id="selectAllCategories" resultType="Categories">
        select * from categories
    </select>
    
    <select id="selectCategoryByCategoryName" resultType="Categories">
        select * from categories where categoryName = #{categoryName}
    </select>

    <insert id="insertCategory" parameterType="Categories">
        insert into categories(categoryName) values (#{categoryName})
    </insert>

    <select id="selectArticlesByCategoryName" resultType="Article">
        select * from article where articleCategories = #{articleCategories}
    </select>

    <delete id="DeleteCategory">
        delete from categories where categoryName = #{categoryName}
    </delete>
</mapper>