<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javatiaocao.myblog.mapper.UserMapper">
    <select id="selectUserByPhoneNumber" resultType="User">
        select * from user where phone = #{phoneNumber}
    </select>

    <select id="selectUserByUserName" resultType="User">
        select * from user where username = #{userName}
    </select>

    <insert id="insertUser" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        insert into user(phone,username,password,gender,avatarImgUrl) values (#{phone},#{username},#{password},#{gender},#{avatarImgUrl})
    </insert>

    <insert id="insertUserRole">
        insert into user_role(User_id, Role_id) values (#{userID}, #{RoleID})
    </insert>

    <update id="updateRecentlyLanded">
        update user set RecentlyLanded = #{RecentlyLandedTime} where phone = #{phone}
    </update>

    <select id="selectRoleByUserPhone" resultType="Role">
        select * from role where id in (select ur.Role_id from user u join user_role ur on u.id = ur.User_id where u.phone = #{phone})
    </select>
</mapper>